<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
    <label for="male">
        <input type="radio" name="sex" v-model="sex" value="男">男
    </label>
    <label for="remale">
        <input type="radio" name="sex" v-model="sex" value="女">女
    </label>
    <h2>{{sex}}</h2>
</div>

<script src="../js/vue.js"></script>
<script>
    const app = new Vue({
        el:"#app",
        data:{
            message:'您好',
            sex:''
        }
    })
</script>
</body>
</html>